/*
* Colors
* Define colors in the $color map, and grab them using the function
* i.e. background-color: color(yellow);
*/

$colors: (
  white: #fff,
  black: #202431,
  grey: #d8d8d8,
  blue: #83bbdd,
  red: #f00
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
