/*
* Colors
* Define colors in the $color map, and grab them using the function
* i.e. background-color: color(yellow);
*/

$colors: (
  white: #fff,
  black: #111,
  base-gray: #efefef,
  light-gray: #f8f8f8,
  gray: #8a8a8a,
  dark-gray:#e3e3e3,
  border-gray: #e4e4e4,
  primary-blue: #054a91,
  light-blue: #0064e9,
  dark-blue: #061f32,
  green: #36b32f,
  gradient-dark: #03101b,
  gradient-light: #003a68,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'That color is not defined: \'#{$key}\'';
}
