@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Open-sans: 'Open Sans', sans-serif;
